Source: bdfproxy
Section: python
Priority: optional
Maintainer: Lisetta "Sheireen" Ferrero <sheireen@autistiche.org>
Build-Depends: debhelper (>= 9), python, python-setuptools
Standards-Version: 3.9.8
Homepage: https://github.com/secretsquirrel/BDFProxy

Package: bdfproxy
Architecture: all
Depends: ${misc:Depends}, python, python-configobj, mitmproxy (>=0.11),
 backdoor-factory, python-pefile
Description: Patch binaries during download ala MITM
 The bdfproxy is for patching binaries during download ala MITM because
 a lot of security tool websites still serve binaries via non-SSL/TLS means.
